// breakpoint
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl
);

// spacing
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 24px;
$spacing-6: 32px;
$spacing-7: 48px;
$spacing-8: 64px;
$spacing-9: 80px;
$spacing-10: 100px;

// p size
$p-1: 12px;
$p-2: 14px;
$p-3: 16px;
$p-4: 18px;
$p-5: 20px;

// h1 size
$h1-1: 2rem;
$h1-2: 3rem;
$h1-3: 4rem;

// h2 size
$h2-1: 1.5rem;
$h2-2: 2rem;
$h2-3: 2.5rem;

// h3 size
$h3-1: 1.25rem;
$h3-2: 1.5rem;
$h3-3: 1.75rem;

// font weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// color
$color-primary: rgb(231, 15, 15);
$color-secondary: #f3f3f3;
$text-color: rgb(88, 88, 90);
$text-color-white: #fff;

$white: #fff;
$gray-1: #fafafa;
$gray-2: #f5f5f5;
$gray-3: #f0f0f0;
$gray-4: #ddd;
$gray-5: #999;
$gray-6: #666;
$gray-7: #333;
$gray-8: #000;

$gray-160: rgb(160, 160, 160);

// container
$container-sm-width: 720px;
$container-md-width: 960px;
$container-lg-width: 1140px;
$container-xl-width: 1320px;

// border radius
$border-radius-1: 0.25rem;
$border-radius-2: 0.5rem;
$border-radius-3: 1rem;


// layout
$header-height-sm: 50px;
$header-height: 60px;