@import 'normalize-scss';
@include normalize();

* {
  box-sizing: border-box;
}

.fk-page {
  min-height: calc(100vh - #{$header-height});
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fk-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.fk-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
